.footer__title {
    color: var(--white-dark-color);
    font-size: 16px;
    font-weight: 700;
    padding-top: 42px;
    padding-bottom: 42px;
}

.footer-brand {
    text-transform: uppercase;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social-networks {
    display: flex;
    gap: 37px;
}

@media (max-width: 600px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }
}